<a href="https://colab.research.google.com/github/Samarjeet09/MiniProjects/blob/main/Mini%20Project-12%3A%20Tweets%20SearchDownload/TweetSearch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Install Package**

In [1]:
!pip install tweepy &>/dev/null

**Add Credentials**

In [2]:
access_token = " "
access_token_secret = " "
consumer_key = " "
consumer_secret = " "

In [3]:
import os
import tweepy as tw
import pandas as pd

In [4]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

*Look for tweets and build a dataframe*

In [7]:
# Collect tweets
results = api.search_tweets(q='football', count=100)

# We create a pandas dataframe as follows:
data = pd.DataFrame(data=[tweet.text for tweet in results], columns=['Tweets'])

# We display the first 10 elements of the dataframe:
display(data.head(10))

                                              Tweets
0                        @Bbj3Srr @football_ll55 ðŸ˜‚ðŸ˜‚ðŸ˜‚
1  @arsenal_mans Guess all that needs to be said ...
2  RT @karthikadhaigal: Timber keen on Arsenal mo...
3  RT @MysteryFootba11: If Harry Kane scores toni...
4  RT @UtdPaper_: These owners have destroyed Man...
5  RT @johncrossmirror: Arsenal to make new Â£90m ...
6                               @football_ll55 Ø§Ù…Ø¨ÙŠÙ‡
7  Jim White trying to argue why Manchester City ...
8  RT @johncrossmirror: Arsenal to make new impro...
9  RT @johncrossmirror: Arsenal to make new Â£90m ...

In [8]:
data

                                               Tweets
0                         @Bbj3Srr @football_ll55 ðŸ˜‚ðŸ˜‚ðŸ˜‚
1   @arsenal_mans Guess all that needs to be said ...
2   RT @karthikadhaigal: Timber keen on Arsenal mo...
3   RT @MysteryFootba11: If Harry Kane scores toni...
4   RT @UtdPaper_: These owners have destroyed Man...
..                                                ...
95  RT @_spiriituaL: Dear @SportyBet (@SportyBetNG...
96  @Ic3Evaa Exactly they fucking overreact all th...
97  RT @RyanTaylorSport: As reported by @johncross...
98  RT @EduardoHagn: ðŸš¨ Arsenal are confident in re...
99  RT @LDNFootbalI: Welcome to Chelsea Football C...

[100 rows x 1 columns]

Find more at [Tweet Extraction](https://github.com/RodolfoFerro/pandas_twitter/blob/master/01-extracting-data.md)